<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    home
    <%-include("./header.ejs",{isShowTitle:false}) %>
        <ul>
            <% for(var i=0;i<list.length;i++){ %>
                <li>
                    <%= list[i]%>
                </li>
                <% } %>
        </ul>
</body>

</html>